[colors]                                                                                                                                  
labels = #d0d0d0                                                                                                                          
public = #00ff88                                                                                                                          
private = #ff3366 
